repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports, --explicit-package-bases]
        additional_dependencies:
          [
            pydantic,
            langchain-core,
            langchain-community,
            langchain-litellm,
            langgraph,
            litellm,
          ]
